<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">button</a>
  </div>
  <div class="carousel-item red white-text" href="#one!">
    <h2>{{ site.project_one }}</h2>
    <i class="material-icons">code</i>

    <p class="white-text">{{ site.project_one_description }}</p>
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <h2>{{ site.project_two }}</h2>
    <i class="material-icons">code</i>

    <p class="white-text">{{ site.project_one_description }}</p>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <h2>{{ site.project_three }}</h2>
    <i class="material-icons">code</i>

    <p class="white-text">{{ site.project_one_description }}</p>
  </div>
  <div class="carousel-item blue white-text" href="#four!">
    <h2>{{ site.project_four }}</h2>
    <i class="material-icons">code</i>

    <p class="white-text">{{ site.project_one_description }}</p>
  </div>
</div>
