<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script src="/js/init.js"></script>

</body>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"> {{ site.title }} </h5>
        <p class="grey-text text-lighten-4"> {{ site.description }} </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="padding-left: 30px">
    <i class="material-icons" style="padding-right:5px">copyright</i><p>2017 Copyright James Hamann | All rights reserved</p>
  </div>
</footer>
</html>
