<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/materialize.min.js"></script>
<script src="assets/js/init.js"></script>

</body>
<footer class="page-footer">
  <!-- <div class="container">
    <div class="row">
      <div class="col s12" style="text-align:center">
        <h5> {{ site.title }} </h5>
        <p> {{ site.description }} </p>
      </div>
    </div>


  </div> -->
  <div class="footer-copyright" style="padding-left: 30px">
    <i class="material-icons" style="padding-right:5px">copyright</i><p>2017 Copyright James Hamann | All rights reserved</p>
  </div>
</footer>
</html>
