<nav>
    <div class="nav-wrapper">
      <div class="container">
          <a href="#" class="brand-logo"> {{ site.title }} </a>
      </div>
    </div>
</nav>
<div class="container">


{{ content }}
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"> {{ site.title }} </h5>
        <p class="grey-text text-lighten-4"> {{ site.description }} </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright {{ site.name }} | All rights reserved.
    </div>
  </div>
</footer>

{% include footer.html %}
